<footer class="footer">
    <div class="footer__container">
        <div>
            <span class="span">
                Pages :
            </span>
            <div class="footer__pages__container">
                <a routerLink="/" class="footer-links">Page accueil</a>
                <a routerLink="/about" class="footer-links">Page à propos</a>
                <a routerLink="/contact" class="footer-links">Page Contact</a>
            </div>
        </div>
        <div class="social-network">
            <span class="span">
                Rejoignez-nous sur les réseaux :
            </span>
            <div class="social-network__container">
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="assets/img/logo_instagram.jpg" alt="logo d'instagram" class="icon">
                </a>
                <a href="https://x.com/?lang=fr" target="_blank">
                    <img src="assets/img/logo_x.jpg" alt="logo de X" class="icon">
                </a>
                <a href="https://www.facebook.com/?locale=fr_FR" target="_blank">
                    <img src="assets/img/logo_facebook.jpg" alt="logo de facebook" class="icon">
                 </a>
            </div>
        </div>
    </div>
    <span class="copyright">© <time datetime="2025-01-19"><small>19 janvier 2025</small></time></span>
</footer>
