.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo{
    max-width: 150px;
    max-height: 150px;   
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.nav-list{
    list-style: url("/assets/img/idéfix.jpg") ;
    margin: 0 2rem;
}

.nav-links{
    color:#151217;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Comfortaa";
}


.nav-links:hover{
    color: #DA001E;
}


@media screen and (max-width : 650px) {
    
    .navbar{
        margin: auto;
    }

   .menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }
    
}