<header class = "header">
    <a routerLink = "/">
        <img src = "assets/img/logo_au_petit_village.jpg" alt="Logo au petit village représentant un casque de Gaulois avec ses ailes blanches"
        class = "logo">
    </a>
    <nav class = "navbar">
        <ul class = "menu">
            <li class = "nav-list"><a routerLink = "/about" class = "nav-links">A propos</a></li>
            <li class = "nav-list"><a routerLink = "/contact" class = "nav-links">Contact</a></li>
        </ul>
    </nav>
</header>
