<main class="main">
    <h1 class="about__title">Par Toutatis</h1>
    <div>
        <p class="about__para">Replongez dans l’univers légendaire d’Astérix, Obélix et leurs irrésistibles compagnons avec notre collection exclusive de figurines !
            Que vous soyez un fan inconditionnel des bandes dessinées, un amateur de pop culture ou simplement à la recherche d’un cadeau unique, 
            notre site est fait pour vous.
           Découvrez des figurines artisanales, soigneusement sculptées, riches en détails et pleines de caractère, qui capturent l’esprit malicieux et intemporel de vos héros préférés.
       <br />Par Toutatis, laissez la magie d’Astérix et Obélix envahir votre quotidien !
       </p>
        <img src="assets/img/village_gaulois.jpeg" alt="Le village gaulois et tous ses héros" class="about__img">
    </div>
</main>
