@font-face {
    font-family: "bubbleboddyNeue";
    src: url("/assets/fonts/bubbleboddyneue.woff");
    src: url("/assets/fonts/bubbleboddyneue.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("/assets/fonts/Comfortaa.woff");
    src: url("/assets/fonts/Comfortaa.ttf") format("truetype");
}

