<app-header></app-header>
<main class="main__home">
    <div class="welcome__container">
        <h1 class="welcome__title">Bienvenue Au petit village</h1>
        <img src="assets/img/groupe.jpg" alt="image des personnages d'Astérix" class="welcome__img">
        <p class="welcome__para">Replongez dans l’univers légendaire d’Astérix, Obélix et leurs irrésistibles compagnons avec notre collection exclusive de figurines !
             Que vous soyez un fan inconditionnel des bandes dessinées, un amateur de pop culture ou simplement à la recherche d’un cadeau unique, 
             notre site est fait pour vous.
            Découvrez des figurines artisanales, soigneusement sculptées, riches en détails et pleines de caractère, qui capturent l’esprit malicieux et intemporel de vos héros préférés.
        <br />Par Toutatis, laissez la magie d’Astérix et Obélix envahir votre quotidien !
        </p>
    </div>
    <h2 class="title">Toutes Nos Figurines</h2>
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchTerm" placeholder="recherche" class="search-bar__input">
    </div>
    <div class="figurine__container">
        <div *ngFor="let figurine of filteredFigurines | sortByPrice: sortOrder | sortByName: searchTerm">
            <div class="figurine">
                <img src={{figurine.imageSrc}} alt={{figurine.imageAlt}} class="figurine__image">
                <h3 class="figurine__name">{{figurine.name}}</h3>
                <span class="figurine__description">{{figurine.description}}</span>
                <span class="figurine__price">Prix {{figurine.price}}€</span>
            </div>
        </div>
    </div>
    <div class="order__container">
        <span>Trier par : </span>
        <div>
            <button (click)="changeSortOrder('asc')" class="order__btn">Prix Croissant</button>
            <button (click)="changeSortOrder('desc')" class="order__btn">Prix Décroissant</button>
        </div>
    </div>
</main>
