@font-face {
    font-family: "bubbleboddyNeue";
    src: url("/assets/fonts/bubbleboddyneue.woff");
    src: url("/assets/fonts/bubbleboddyneue.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("/assets/fonts/Comfortaa.woff");
    src: url("/assets/fonts/Comfortaa.ttf") format("truetype");
}


*{
    font-family: "Comfortaa";
    margin: 0;
}

body{
    background-color: rgba(218, 0, 30, 0.1);
}

h1, h2, h3, h4, h5{
    font-family: "bubbleboddyNeue";
}